<h1>Registrar Mascota</h1>
<div class="jumbotron">
<%= render 'form' %>

<hr>&nbsp;

<!-- Asignar voluntarios -->
<h3>Aignar voluntario</h3>


<!-- /Asignar voluntarios -->

<%= link_to '<< Atras', mascota_path, :class => "btn btn-default" %>

</div>
