<h1>Editar Hogar Temporal</h1>
<div class="jumbotron">
<%= render 'form' %>

<%= link_to 'Ver', @hogar_temporal, :class => "btn btn-primary" %> 
<%= link_to '<< Atras', hogar_temporals_path, :class => "btn btn-default" %>
</div>
