<h1>Perfil De Usuario</h1>
<div align="left"> 
<div class = "formulario">
<div style="clear:both"></div>
	<div><li> Email: <%= @usuario.email %></li></div>
	<div style="clear:both"></div>
	<div><li> Estado: <%= @usuario.estado %></li></div>
	<div style="clear:both"></div>
</div>
</div>
	