<h1>Editar Persona</h1>
<div class="jumbotron">
<%= render 'form' %>

<%= link_to 'Ver', @persona, :class => "btn btn-primary" %> 
<%= link_to '<< Atras', personas_path, :class => "btn btn-default"%>
</div>
