<h1>Editar Noticia</h1>
<div class="jumbotron">
	<%= render 'form' %>

	<%= link_to 'Ver Noticia', @noticium, :class => "btn btn-primary" %>
	<%= link_to '<< Atras', noticia_path, :class => "btn btn-default" %>
</div>
