
<article class="col-sm-8 maincontent">
	<div>
	  <h1>Noticias</h1>
	  <br>
	  <br>
	  <br>
	  	<div align="left">
			<%@noticias.each do |noticia|%>
				<h3><%= noticia.titulo %></h3>
				<p><B>Categoria = </B><%= noticia.categoria %></p>
				<p><h4>Informacion</h4> <br><%= noticia.contenido %></p>
				<hr>
			<%end%>
		</div>
	</div>

</article>